* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0;
}

body{
    font-family: Belleza;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.colibria-icon {
    align-items: center;
    inline-size: 200px;
    margin-block-start: 5px;
    text-align: center;
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
}

.user-button{
    background: none;
    border: none;
    cursor: pointer;
}

.back-button img{
    width: 60px;
    height: 50px;
}

.user-button img{
    width: 60px;
    height: 60px;
}

/* Content */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 50px 50px 50px;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.arco-svg {
    width: 100%; /* Escala proporcionalmente */
    max-width: 900px; /* Máximo ancho */
    height: 150px; /* Ajusta la altura automáticamente */
}

.arco-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    margin-bottom: 20px;
}

.texto-arco {
    font-family: 'Comicy';
    font-size: 4.5em; 
    fill: #5e17eb; 
    stroke: white;
}

.texto-medio{
    font-family: 'Comicy';
    font-size: 2em; 
    color: #231f20;
    margin-bottom: 20px;
    margin-top: -60px; 
}

.cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: -40px;
}

.colibriAzul{
    inline-size: 20em;
    margin-right: 40px;
}

.game-box{
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 10px solid #32c0c1;
    border-radius: 10px;
    width: 800px;
    margin-top: -20px;
    padding: 20px 30px;
    max-width: 900px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.game-content {
    text-align: center;
    padding: 10px;
}

/*-------- Fondo oscuro cuando aparece un mensaje */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


/* Footer */

footer {
    background-color: #4AA3AF;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: right;
    width: 100%;
}

.footer-phrase img {
    float: left;
    height: 70px;
    object-fit: contain;
}

@font-face {
    font-family: 'Comicy';
    src: url('fonts/Comicy.ttf') format('truetype');
}



/*
-------------------------------------------------------------------------------------------------------
                                                NIVEL 2
-------------------------------------------------------------------------------------------------------
*/
.nivel2-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.imagen-central img {
    max-width: 300px;
    max-height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.opciones-senas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.opciones-senas .item {
    width: 140px;
    height: auto;
    border: 3px solid transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;
    padding: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.item.selected {
    border: 3px solid #1976d2;  /* Azul fuerte */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(25, 118, 210, 0.5);
}

.item.incorrecto {
    border: 3px solid red;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}


/* Hover en PC */
@media (hover: hover) {
  .opciones-senas .item:hover {
      border-color: #0077cc;
      background-color: #e0f2ff;
      transform: scale(1.15);
  }
}


/* Para pantallas táctiles (presionar para zoom) */
@media (hover: none) {
  .opciones-senas .item:active {
      transform: scale(1.15);
      background-color: #e0f2ff;
  }
}

.boton-enviar {
    background-color: #0077cc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.boton-enviar:hover {
    background-color: #005fa3;
}

.boton-final {
    background-color: #0077cc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.boton-final:hover {
    background-color: #005fa3;
}

/* Fade in para elementos visuales */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*zoooom*/

.item {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
}

.zoom-viewer {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zoom-viewer img {
    width: 95vw;
    height: auto;
    max-height: 90vh;
    border-radius: 12px;
    box-shadow: 0 0 20px white;
    margin-bottom: 20px;
    object-fit: contain;
}


.close-zoom {
    background: #f44336;
    color: white;
    border: none;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.ganaste-img {
    width: 50%;
    max-width: 400px;
    animation: fadeIn 1s ease-in-out;
}




/*responsive*/
@media (max-width: 1024px) {
    .item {
        width: 130px;
    }

}

@media (max-width: 800px) {
    .game-box {
        width: 95%;
    }

    .item {
        width: px;
    }

    .colibria-icon {
        width: 120px;
    }

    .colibriAzul {
        width: 130px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .relacion-layout {
        gap: 100px;
        padding: 10px;
    }

    .game-box {
    width: 80vw;       /* ocupa todo el ancho de la pantalla */
    margin: 0;          /* elimina márgenes */
    padding: 10px 5px;  /* reduce el padding lateral */
    }

    .column {
        gap: 12px;
    }

    .item {
        width: 100px;
    }

    .colibria-icon {
        width: 150px;
    }

    .back-button img {
        width: 40px;
        height: 38px;
    }  

    .user-button img {
        width: 30px;
        height: 30px;
    }  

    .colibriAzul {
        width: 0px;      
        margin: 0;
    }

  /* Cambia el texto para que sean dos líneas */
    .texto-arco {
        font-size: 7em; /* Reduce el tamaño */
        white-space: pre-wrap; /* Permite que el texto se divida */
    }
    .texto-arco textPath {
        letter-spacing: 0.5px; /* Ajusta el espaciado */
    }

    .arco-svg path#arco {
        d: path("M 0,120 A 850,180 0 0,1 900,120"); /* Arco ajustado */
    }

    .arco-svg {
        margin-top: -30px;
        margin-bottom: -60px;
    }
}

@media (max-width: 470px) {
    .relacion-layout {
        padding: 5px 2px;
        gap: 50px;
    }

    .column {
        gap: 10px;
    }

    .item {
        width: 70px;
    }

    .game-box {
        width: 98%;
        padding: 8px;
    }
}

@media (max-width: 425px) {
    .arco-svg {
        margin-top: -60px;
    }

    .item {
        width: 65px;
    }

    .titulo-nivel {
        font-size: 18px;
    }

    .game-box {
    width: 90vw;       /* ocupa todo el ancho de la pantalla */
    margin: 0;          /* elimina márgenes */
    padding: 10px 5px;  /* reduce el padding lateral */
    border: 5px solid #32c0c1;
    }

  .relacion-layout {
    padding: 0 5px;
    gap: 60px;
  }

  .footer-phrase img {
    height: 50px;
}
}   
